<div class="row">
    <div class="large-9 push-3 columns">
        <p>
            <b>Username:</b>
            <%= @user.username %>
        </p>

        <p>
            <b>First name:</b>
            <%= @user.first_name %>
        </p>

        <p>
            <b>Last name:</b>
            <%= @user.last_name %>
        </p>

        <p>
            <b>Email:</b>
            <%= @user.email %>
        </p>

        <p>
            <b>Dob:</b>
            <%= @user.dob %>
        </p>
        <%if @user == current_user %>
        <p>
            <b>Balance:</b>
            <%= @user.balance %>
        </p>
        <%end%>


            
    </div>
    <div class="large-3 pull-9 columns">
    
         <div class="docs section-container accordion" data-section="" data-options="deep_linking: false" style="">
            <section class="section active" style="">
                <p class="title" style="left: 0px;"><a href="#">options</a></p>
                <div class="content" style="">
                    <ul class="side-nav">
                         <li><a href=""><%= link_to 'games', '/games'%></a></li>
                         <li><a><%=link_to 'edit profile', edit_user_registration_path %></a></li>
                         <li><a><%= link_to 'top_up', '/top_up' %>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    



