<div class="row">
<% for (var i=0;i<this.collection.length;i++){ %>
	
	<%this.path = App.assets.path('cards_png/' + this.collection.at(i).get('suit') + this.collection.at(i).get('number') +'.png');%>
	<% console.log(this.path)%>
	<div class="large-2 columns"><img src=<%=this.path%>></div>
<%}%>
</div>