<h1>Available Games</h1>
<%_ref = games.models
for (_i = 0, _len = _ref.length; _i < _len; _i++) {%>
<% game = _ref[_i] %>
<table>
  	<tr>
  		<th>Game Number</th>
    	<th></th>
  	</tr>
  	<tr>
 		<td><%= game.get('id') %></td>
 		<td><a href="#<%= game.get('id') %>" class="button" id="join_table">join table</a></td>
 	</tr>
<%}%>

</table>